.DS_Store
app.log
.idea
local_conf.py
*ticker-app.log
log/*.log
*.pyc
*.db
*.ipynb
.ipynb_checkpoints/
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg